<!DOCTYPE html>
<html>
<head>
  <title>ECS Demo</title>
  <script>
    function load() {
      setTimeout(function() {location=''}, 150)
    }
    window.onload = load;
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
